[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "~=3.7"
uvicorn = "~=0.18"
elasticsearch = "~=8.4"
fastapi = "~=0.81"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
squirro = {editable = true, path = "."}

[requires]
python_version = "3.8"
